*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    height: 100vh;
    background-color: rgb(197, 196, 196);
    align-items: center;
    justify-content: center;
    display: flex;
}
main{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
h1{
    text-align: center;
}
hr{
    background-color: black;
    font-weight: bold;
    height: 4px;
    margin-bottom: 10px;
}
.game{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.game button{
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: 5px;
    font-size: 50px;
    background: white;
}